
Team {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}



.Home .Welcome {
    font-size: 44px;
}

.Home .Header {
    font-size: 60px;
}

.Home p {
    font-size: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 27%;
    width: 100%;
}
.name {
    color: #255d3a;
}
